
<DIV ng-if="vm.message" class="alert alert-success" role="alert">
    <P>{{ vm.message}}</P>
  </DIV>
  <DIV ng-if="vm.err" class="alert alert-danger" role="alert">
    {{vm.error}}
  </DIV>

  <div class="card">
    <div class="card-header heading">
        <h2><h2>Add new User </h2></h2>

    </div>
    <div class="card-body">

  <FORM ng-if="!vm.isLoggedIn()" name="login" ng-submit="vm.login()"">
    <DIV class="form-group">
      <label ng-class="{'has-error': vm.err}" for="username">Username</label>
      <input type="username" class="form-control" id="username" 
      placeholder="Username" ng-model="vm.username" autocapitalize="none"/>
    </DIV>
    <DIV class="form-group">
      <label ng-class="{'has-error': vm.err}" for="password">Password</label>
      <input type="password" class="form-control" id="password" 
      placeholder="Password" ng-model="vm.password" autocapitalize="none"/>
    </DIV>
    
      <br/>​
  <BUTTON type="submit" class="btn btn-success">Login</BUTTON>​
</FORM>
</div>
</div>


